# ===== JAVA / MAVEN / SPRING BOOT =====
/target/
*.class
*.log
*.jar
*.war
*.ear

# ===== IDE / ECLIPSE =====
.settings/
.project
.classpath

# ===== SYSTEM FILES =====
.DS_Store
Thumbs.db

# ===== CERTIFICATI E CHIAVI (OpenSSL) =====
*.key
*.crt
*.pem
*.p12
*.csr
*.srl
*.der
*.jks
*.keystore
localhost*
certs/
ssl/
openssl/

# ===== FRONTEND: React (CRA) =====
**/node_modules/
**/build/
**/.env*
**/.cache/
**/coverage/
**/dist/

# ===== VSCode / altri editor =====
.vscode/
.idea/
*.swp
src/main/resources/application.properties
uploads/
*.txt
src/main/resources/application.properties
