@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  color: #e6f1f1; /* Colore del testo chiaro */
  background: #263238; /* Un blu scuro/grigio per un aspetto più morbido */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #263238; /* Usato lo stesso colore per il contenitore */
}
