// _bulma-overrides.scss
// Override Bulma variables before importing Bulma
$family-sans-serif: $font-family-base !default;
$size-base: $font-size-base !default;
$radius-large: $radius !default;
$control-radius: $radius !default;
$button-background-color: $accent-color !default;
$button-background-hover: $accent-hover !default;
$button-border-radius: 8px !default;
$enable-rounded: true !default;

.button.is-primary {
  background-color: var(--accent-color);
  color: #fff;
  border: none;

  &:hover {
    background-color: var(--accent-hover);
  }
}

.modal-card {
  background-color: rgba(132, 169, 192, 0.80) !important;
  border-radius: 10px;
  color: var(--text-color);
}

.modal-card-head,
.modal-card-foot {
  background-color: var(--light);
}
