@charset "UTF-8";

.login-box {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2b2b3d; /* Usato un colore scuro più morbido */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.title {
  color: #e6f1f1; /* Colore chiaro per il titolo */
}

.input {
  background-color: #444; /* Un grigio scuro per il campo di input */
  color: #fff;
  border-radius: 5px;
}

.button {
  background-color: #1e88e5;
  color: #fff;
}

.notification.is-danger {
  background-color: #f44336; /* Colore più caldo per le notifiche di errore */
  color: #fff;
}

/* Per il link di registrazione, se lo includi anche qui */
.signup-link {
  margin-top: 1rem;
  text-align: center;
}

.signup-link a {
  color: #1e88e5; /* stesso colore del background del bottone */
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  color: #408080; /* colore hover simile al bottone */
  text-decoration: none;
}
