/* ModalStyles.css */

.custom-generic-modal-box {
  background-color: #14161A !important;
  backdrop-filter: blur(8px);
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 0 52px rgba(133, 255, 199, 0.4);
  padding: 0.75rem 1.35rem; /* Padding generale ridotto */
  width: 100%;
  max-width: 520px;
  transition: all 0.3s ease;
}

.custom-modal-box .modal-card-head,
.custom-modal-box .modal-card-foot {
  border: none;
  box-shadow: none;
  padding: 0.5rem 0;
}

.custom-modal-box .input,
.custom-modal-box .textarea {
  background-color: #517890 !important;
  border: none;
  color: #D6E1B7 !important;
  border-color: #85FFC7 !important;
  padding: 0.6rem;
  border-radius: 6px;
  width: 100%;
}

.custom-modal-box .input::placeholder {
  color: #84A9C0;
}

.custom-modal-box .input:focus,
.custom-modal-box .textarea:focus {
  border: 1px solid #00b894;
  box-shadow: 0 0 0 0.125em rgba(0, 184, 148, 0.25);
}

.custom-modal-box .button.is-primary {
  background-color: #85FFC7 !important;
  color: #517890 !important;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
}

.custom-modal-box .button.is-primary:hover {
  background-color: #517890 !important;
  color: #85FFC7 !important;
  box-shadow: 0 4px 6px rgba(0, 184, 148, 0.6);
}

/* Bottoni toggle Task / Evento completamente personalizzati */
.toggle-button {
  background-color: #14161A;
  border: 2px solid #EFF3E2;
  color: #85FFC7;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  margin: 0 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.toggle-button.selected {
  background-color: #85FFC7;
  color: #14161A;
  border-color: #EFF3E2;
}

.generic-modal-card-custom {
  background-color: #14161A !important;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  color: var(--text-color);
}

.modal-header-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.modal-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #EFF3E2;
  margin-right: auto;
}

